img {
    width: 100%;
    height: 100%;
    background-color: white;
}

.choose_faction_icons{
    display: flex;
    justify-content: center;
    padding: 5px;
    
}
.choose_faction_icons > a{
    margin: 5px;
}